body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #dcf1ff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin-top: 10px;
}

ul li a {
  text-decoration: none;
  color: black;
}

nav ul .is-active {
  pointer-events: none;
  color: darkgoldenrod;
}
